/* tagname selector */
table {
     width: 100%;
     color: black;

    }
h3 {
    color: red
}

/* ID selectors */
#techtable{
    color: blue;
}

#changefont {

    font-family: sans-serif;
}

/* class format */

.boldest{
    color: black;

}
